SUPPORTED_PLATFORMS = iphoneos iphonesimulator appletvos appletvsimulator
TARGETED_DEVICE_FAMILY = 1,2,3

IPHONEOS_DEPLOYMENT_TARGET = 13.0
TVOS_DEPLOYMENT_TARGET = 13.0

EXCLUDED_ARCHS[sdk=iphoneos*] = x86_64
EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64

EXCLUDED_ARCHS[sdk=appletv*] = x86_64
EXCLUDED_ARCHS[sdk=appletvsimulator*] = arm64

CODE_SIGNING_REQUIRED = NO
CODE_SIGN_IDENTITY =
CODE_SIGN_STYLE = Manual
