SDKROOT =
SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator appletvos appletvsimulator watchos watchsimulator
TARGETED_DEVICE_FAMILY = 1,2,3,4

IPHONEOS_DEPLOYMENT_TARGET = 13.0
MACOSX_DEPLOYMENT_TARGET = 10.15
TVOS_DEPLOYMENT_TARGET = 13.0
WATCHOS_DEPLOYMENT_TARGET = 6.0

EXCLUDED_ARCHS[sdk=iphoneos*] = x86_64
EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64

EXCLUDED_ARCHS[sdk=appletv*] = x86_64
EXCLUDED_ARCHS[sdk=appletvsimulator*] = arm64

EXCLUDED_ARCHS[sdk=watchos*] = i386
EXCLUDED_ARCHS[sdk=watchsimulator*] = armv7k

OTHER_LDFLAGS = -framework SwiftUI -framework Combine
APPLICATION_EXTENSION_API_ONLY = YES
BUILD_LIBRARY_FOR_DISTRIBUTION = YES
CODE_SIGNING_REQUIRED = NO
CODE_SIGN_IDENTITY =
CODE_SIGN_STYLE = Manual
